<div class="row gx-5">
  <div class="col-md-6">
    <h1 class="h2 my-3 pt-3 text-uppercase">Über uns</h1>
    <p>
      Der Förderverein wurde gegründet, um genau da aktiv zu werden, wo dem Kindergarten die
      finanziellen Mittel und/oder Ressourcen fehlen. Dabei liegt der Fokus auf den Kindern: Von
      Sprachförderung über Ausflüge in die Natur bis hin zu einem Eiswagen vor den Sommerferien.
    </p>
    <p>
      <em>Wir schaffen unvergessliche Momente neben und im Kindergartenalltag.</em>
    </p>
  </div>
  <div class="col-md-6">
    <h1 class="h2 my-3 pt-3 text-uppercase">Let's do it</h1>
    <p>
      Jeder ist als Mitglied willkommen!
      <br>
      Und alle Eltern sind auch herzlich eingeladen im Förderverein mitzuwirken.
    </p>
    <p>
      Wie? Die finanziellen Mittel für den Verein bringen wir durch Mitgliedsbeiträge, Spenden oder
      Veranstaltungen auf.
    </p>
    <p>
      Wir freuen uns daher über viele Mitglieder und auch über tatkräftige Unterstützung bei anstehenden
      Veranstaltungen: Sei es z.B. beim Verkauf von Plätzchen zur Weihnachtszeit, der Organisation eines
      Flohmarktes oder auch bei Kuchenspenden.
    </p>
  </div>
</div>

<h1 class="h2 my-3 pt-3 text-uppercase">Jetzt anmelden</h1>
<p>Hier geht es zum <%= link_to 'Mitgliedsantrag', registration_path %></p>
