<h1 class="mb-5">IMPRESSUM</h1>
<p>
  <strong>Förderverein Güntherscher Kindergarten e.V.</strong>
  <br>
  Eponastraße 12
  <br>
  68526 Ladenburg
</p>
<p>
  <strong>Vertreten durch:</strong>
  <br>
  1. Vorsitzende: Margarete Hilkert
</p>
<p>
  <strong>Kontakt:</strong>
  <br>
  Telefon: <span data-controller="deobfuscate">+490000000015600000000785000000004330000000036</span>
  <br>
  E-Mail: <span data-controller="deobfuscate">foerderverein.guentherscher[at]gmail[dot]com</span>
</p>
<p>
  <strong>Registereintrag:</strong>
  <br>
  Eintragung im Registergericht: Mannheim
  <br>
  Registernummer: VR 703904
</p>
